[submodule "3rdparty/mujoco"]
	path = 3rdparty/mujoco
	url = https://github.com/deepmind/mujoco
[submodule "3rdparty/kinova_mj_description"]
	path = 3rdparty/kinova_mj_description
	url = https://github.com/andrei-herdt/kinova_mj_description
[submodule "3rdparty/mujoco_menagerie"]
	path = 3rdparty/mujoco_menagerie
	url = https://github.com/andrei-herdt/mujoco_menagerie.git
